<header main-nav-bar-directive>
</header>
<main class="container">
    <div class="row mt-4">
        <div class="col-md-6 border-right">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Active Votings</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 clearfix">
                    <!--Doing onClick="return false; because we use element a but we dont want it to jump to any page - fake link so we put # but because we use ng-route and there we have the option .otherwise({redirectTo : "/"}); so it catch this fake link and bring us to the main page and doesnt open the modal box. In stackoverflow they say this will fix it-->
                    <a class="float-to-right new-msg-btn" href="#" data-toggle="modal" data-target="#newVotingModal" onClick="return false;" ng-show="isShowBtn()">New Voting</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card" ng-repeat="voting in votings">
                            <div class="card-header" id="heading-{{voting.getId()}}">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{voting.getId()}}" aria-expanded="true" aria-controls="collapse-{{voting.getId()}}">
                                                {{voting.getTitle()}}
                                            </button>
                                        </h5>
                                    </div>
                                </div>     
                            </div>
                            <div id="collapse-{{voting.getId()}}" class="collapse" aria-labelledby="heading-{{voting.getId()}}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="ml-3 grey-font">Details:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p class="ml-3">{{voting.getDetails()}}</p>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-lg-5">
                                            <h5 class="grey-font">Voting Percentage</h5>
                                            <div google-chart chart="getVotesPrecentageObj(voting)" style="height:600px; width:100%;"></div>
                                            <div google-chart chart="getResultsVotesPrecentageObj(voting)" style="height:600px; width:100%;"></div>
                                        </div>
                                    </div>
                                   <div class="row">
                                       <div class="col-lg-3">
                                           <label class="ml-3 grey-font">End Date:</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="ml-3">{{voting.getEndDate() | date}}</label>
                                        </div>
                                        <div class="col-lg-2">
                                                <button type="button" class="btn btn-info ml-3" ng-show="isShowBtn()"><i class="fa  fa-2x fa-calendar"></i></button>
                                        </div>
                                    </div>
                                    <!--todo:to do the dynamic select option. How I do that?-->
                                    <div class="form-group row mt-3" ng-show="isNeedToVote(voting)"><!--todo: to change to ng-if-->
                                        <label for="voteOptions" class="ml-3 grey-font col-lg-3 col-form-label">Your vote:</label>
                                        <div class="col-lg-6">
                                            <select class = "form-control"  id = "voteOptions" ng-model="optVoteSelection.mode" ng-disabled="isDisableBtn(voting)">
                                                <option value="In Favor">In Favor</option>
                                                <option value="Against">Against</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-info" ng-disabled="isDisableBtn(voting)" ng-click="subTenantVoteOpt(voting)">Submit</button>
                                        </div>
                                    </div><!--ng-show and ng-hide are saying that the elements will be renderd but only it will appear or disappear so even that is is disappear the other CBs like getTenantVotedOpt(voting) will be called. But if we do ng-if so it will not be rendered at all so the other CBs will not be called.-->
                                    <div class="row mt-3" ng-hide="isNeedToVote(voting)"><!--todo: to change to ng-if-->
                                        <label class="ml-3 grey-font col-lg-3">Your vote:</label>
                                        <label class="col-lg-6">{{getTenantVotedOpt(voting)}}</label>
                                    </div>      
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 border-left">
        </div>
    </div>   
</main>